[submodule "vim/pack/bundle/start/nerdtree"]
	path = vim/pack/bundle/start/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/bundle/start/nerdcommenter"]
	path = vim/pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/bundle/start/ir_black"]
	path = vim/pack/bundle/start/ir_black
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/pack/bundle/start/html5"]
	path = vim/pack/bundle/start/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/pack/bundle/start/css3-syntax"]
	path = vim/pack/bundle/start/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/pack/bundle/start/javascript"]
	path = vim/pack/bundle/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/bundle/start/markdown"]
	path = vim/pack/bundle/start/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "vim/pack/bundle/start/less"]
	path = vim/pack/bundle/start/less
	url = https://github.com/jkimbo/vim-less.git
[submodule "vim/pack/bundle/start/surround"]
	path = vim/pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/bundle/start/syntastic"]
	path = vim/pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/pack/bundle/start/hemisu"]
	path = vim/pack/bundle/start/hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "vim/pack/bundle/start/gist"]
	path = vim/pack/bundle/start/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/pack/bundle/start/webapi"]
	path = vim/pack/bundle/start/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/pack/bundle/start/airline"]
	path = vim/pack/bundle/start/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/pack/bundle/start/emmet"]
	path = vim/pack/bundle/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/bundle/start/ctrlp"]
	path = vim/pack/bundle/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/bundle/start/fugitive"]
	path = vim/pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/bundle/start/supertab"]
	path = vim/pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/bundle/start/delimitMate"]
	path = vim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/bundle/start/dockerfile"]
	path = vim/pack/bundle/start/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/bundle/start/jsx"]
	path = vim/pack/bundle/start/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/pack/bundle/start/typescript"]
	path = vim/pack/bundle/start/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/bundle/start/vim-tmux-focus-events"]
	path = vim/pack/bundle/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/pack/bundle/start/vim-tmux"]
	path = vim/pack/bundle/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/pack/bundle/start/argwrap"]
	path = vim/pack/bundle/start/argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule "vim/pack/bundle/start/pug"]
	path = vim/pack/bundle/start/pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "vim/pack/bundle/start/go"]
	path = vim/pack/bundle/start/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/bundle/start/lineletters"]
	path = vim/pack/bundle/start/lineletters
	url = https://github.com/skamsie/vim-lineletters.git
[submodule "vim/pack/bundle/start/gitgutter"]
	path = vim/pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/bundle/start/fix-pasting"]
	path = vim/pack/bundle/start/fix-pasting
	url = https://github.com/ryanpcmcquen/fix-vim-pasting.git
[submodule "vim/pack/bundle/start/paste"]
	path = vim/pack/bundle/start/paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/bundle/start/solarized"]
	path = vim/pack/bundle/start/solarized
	url = https://github.com/altercation/vim-colors-solarized
